ul#List1{
    list-style-position: outside;
    list-style-type: none;
    margin-left: 5%;
}
li > div.flex-container{
    display: flex;
    border: solid #26a69a 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #26a69a;
}
.flex-container > p{
    width: 100px;
    border: solid #26a69a 1px;
    border-radius: 5px;
    margin: 10px 2px;
    background-color: #1de9b6;
}